<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <span>My Angular Application</span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
    <!-- side navigation list to show all the concepts in angular -->
    <!--
        opened="true" - by default mat side nav will open
        when ever we click menu icon sidenav.toggle() will be opened and closed
    -->
    <mat-sidenav #sidenav  mode="side" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
        <mat-nav-list>
            <div *ngFor="let menu of sideMenus">
                <!--
              mat-list-item is used to place all things in single row or line
              in below case it ii used to place Main Menu name(eg : Directives) and Arrow to scroll in same line
            -->
                <mat-list-item>
                    <a mat-list-item> {{menu.mainMenu}} </a>
                    <mat-icon class="menu-button">expand_more</mat-icon>
                </mat-list-item>
                <div class="submenu">
                    <a mat-list-item [routerLink]="subMenu.path"
                        *ngFor="let subMenu of menu.subMenus">{{subMenu.displayName}}
                    
                    </a>
                </div>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="background-color: #e8e8e8 !important;">
        <div style="margin-left:5rem; margin-top:1rem; margin-right:1rem;height:700px">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>